.bordered {
    box-shadow: none;
    // border: 1px solid #6FC907;
    border: 1px solid #999;
}

.param-value {
    background-color: #fff;
    color: #000;
    padding: 5px;
}

label {
    font-weight: bolder;
}

.brand-image {
    max-height: 5rem;
}

.full-width {
    width: 100%;
}