<app-page-header *ngIf="client.name" [breadcrumb]="'/Home/Clients/' + client.name" btn1Label="Save Changes" (btn1Click)="saveChanges()"></app-page-header>

<div class="page-body">

  <div class="row">
    <div class="col">
      <h2>{{client?.name}}</h2>
    </div>
    <div class="col">
      <img [src]="client?.clientTheme?.logoPath" class="brand-image">
    </div>
  </div>
  <br>

  <mat-accordion *ngIf="client">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Details</mat-panel-title>
      </mat-expansion-panel-header>
      <form *ngIf="client">

        <div class="row">
          <div class="col-md-6">

            <div class="form-group form-group">
              <label for="name">Business Name</label>
              <input type="text" class="form-control" id="name" placeholder="Business Name" name="name" [(ngModel)]="client.name">
            </div>

            <div class="form-group">
              <label for="siteUrl">Site Url</label>
              <input type="text" class="form-control" id="siteUrl" placeholder="Site Url" name="siteUrl" [(ngModel)]="client.siteUrl">
            </div>

          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label for="name">Client Id</label>
              <input type="text" class="form-control" readonly id="id" placeholder="ClientId" name="id" [(ngModel)]="client.id">
            </div>

            <div class="form-group">
              <label for="siteUrl">Client API Key</label>
              <input type="text" class="form-control" readonly id="apiKey" placeholder="Client API Key" name="apiKey"
                [(ngModel)]="client.clientApiKey">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="siteUrl">Short Key</label>
              <app-edit-text name="shortKey" placeholder="Short Key" [initialState]="initialState?.shortKey"
                [(ngModel)]="client.shortKey" (onSaveRequest)="save('ShortKey', client.shortKey)"></app-edit-text>
            </div>

          </div>
          <div class="col-md-6">
            <label>Links</label>
            <br>
            <button class="btn btn-primary btn-lg" type="button" (click)="openCustomerPortal()">Open Customer Portal
              &nbsp;
              <i class="fa fa-external-link"></i> </button>

          </div>
        </div>

      </form>

    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Theme</mat-panel-title>
      </mat-expansion-panel-header>


      <div class="content">

        <div class="form-group">
          <label for="name">Logo Path</label>
          <input type="text" class="form-control form-control-sm" placeholder="Logo Path" name="logoPath" [ngModel]="client?.clientTheme?.logoPath"
            (ngModelChange)="client?.clientTheme.logoPath=$event">
        </div>
        <div class="form-group" *ngIf="client?.clientTheme">
          <label for="name">Font</label>
          <input type="text" class="form-control form-control-sm" placeholder="Font" name="font" [(ngModel)]="client?.clientTheme.font">
        </div>

      </div>

      <mat-list>
          <mat-list-item *ngFor="let param of client?.clientTheme?.parameters">
            <p mat-line> {{param.key}} </p>
            <p mat-line> {{param.value}} </p>
          </mat-list-item>
        </mat-list>
      <!-- <table class="table table-sm">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
              <th>Commands</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let param of client?.clientTheme?.parameters">
              <td>{{param.key}}</td>
              <td [style.background-color]="param.value"><span class="param-value">{{param.value}}</span></td>
              <td><button (click)="removeParameter(param)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control form-control-sm bordered" [(ngModel)]="cssParamName">
              </td>
              <td>
                <input type="text" class="form-control form-control-sm bordered" [(ngModel)]="cssParamValue"
                  [style.background-color]="cssParamValue">
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-primary" (click)="setParameter()">Set Parameter</button>
              </td>
            </tr>
          </tbody>
        </table>
   -->



    </mat-expansion-panel>

    <!-- <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
      </mat-expansion-panel-header>

    </mat-expansion-panel> -->

  </mat-accordion>




</div>

<ngb-tabset *ngIf="client">

  <ngb-tab [title]="'Employees (' + client.employees?.length + ')'">
    <ng-template ngbTabContent>

      <div class="table-toolbar">
        <div class="table-spacer"></div>
        <div class="table-button">
          <i class="fas fa-user-plus"></i>&nbsp; Add</div>
        <div class="table-button" [routerLink]="['/clients',client.id, 'employees', 'invite']">
          <i class="fas fa-user-plus"></i>&nbsp; Invite</div>
        <div class="table-button" *ngIf="employee?.status == 'Invited - Pending'" (click)="resendInvite(employee)">
          <i class="fas fa-user-plus"></i>&nbsp; Re-Send Invite</div>
        <div class="table-button">
          <i class="fas fa-user-cog"></i>&nbsp; Edit</div>
        <div class="table-button disabled">
          <i class="fas fa-user-slash"></i>&nbsp; Disable</div>
        <div class="table-button disabled">
          <i class="fas fa-user-times"></i>&nbsp; Delete </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Username</th>
            <th>Status</th>
            <th>Auth Provider</th>
            <th>Validated Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of client.employees" (click)="employee = e">
            <td>
              <i class="fas fa-user-tie table-icon"></i>
            </td>
            <td>{{e.firstName}} {{e.lastName}}</td>
            <td>{{e.username}}</td>
            <td>{{e.status}}</td>
            <td>{{e.providerName}}</td>
            <td>{{e.validatedEmail}}</td>
          </tr>
        </tbody>
      </table>

    </ng-template>
  </ngb-tab>

  <ngb-tab [title]="'Customers (' + client.customers?.length + ')'">
    <ng-template ngbTabContent>

      <div class="table-toolbar">
        <div class="table-spacer"></div>
        <div class="table-button">
          <i class="fas fa-user-plus"></i>&nbsp; Add</div>
        <div class="table-button">
          <i class="fas fa-user-plus"></i>&nbsp; Invite</div>
        <div class="table-button">
          <i class="fas fa-user-cog"></i>&nbsp; Edit</div>
        <div class="table-button disabled">
          <i class="fas fa-user-slash"></i>&nbsp; Disable</div>
        <div class="table-button disabled">
          <i class="fas fa-user-times"></i>&nbsp; Delete </div>
      </div>

      <table class="table table-hover table-responsive-md">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Auth Provider</th>
            <th>Validated Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of client.customers">
            <td>
              <i class="fas fa-user table-icon"></i>
            </td>
            <td>{{c.firstName}} {{c.lastName}}</td>
            <td>{{c.username}}</td>
            <td>{{c.providerName}}</td>
            <td>{{c.validatedEmail}}</td>
          </tr>
        </tbody>
      </table>

    </ng-template>
  </ngb-tab>

  <ngb-tab title="Billing">
    <ng-template ngbTabContent>
      <div class="content">
        <h3>Billing Configuration</h3>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Theme">
    <ng-template ngbTabContent>

      <div class="content">

        <div class="form-group">
          <label for="name">Logo Path</label>
          <input type="text" class="form-control form-control-sm" placeholder="Logo Path" name="logoPath" [ngModel]="client?.clientTheme?.logoPath"
            (ngModelChange)="client?.clientTheme.logoPath=$event">
        </div>
        <div class="form-group">
          <label for="name">Font</label>
          <input type="text" class="form-control form-control-sm" placeholder="Font" name="font" [(ngModel)]="client?.clientTheme.font">
        </div>

      </div>


      <table class="table table-sm">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>Commands</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let param of client?.clientTheme?.parameters">
            <td>{{param.key}}</td>
            <td [style.background-color]="param.value"><span class="param-value">{{param.value}}</span></td>
            <td><button (click)="removeParameter(param)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control form-control-sm bordered" [(ngModel)]="cssParamName">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm bordered" [(ngModel)]="cssParamValue"
                [style.background-color]="cssParamValue">
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-primary" (click)="setParameter()">Set Parameter</button>
            </td>
          </tr>
        </tbody>
      </table>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Preferences">
    <ng-template ngbTabContent>
      <div class="content">
        <h3>Preferences</h3>
      </div>
    </ng-template>
  </ngb-tab>

</ngb-tabset>