<ng-http-loader [backgroundColor]="'#ff0000'" [spinner]="spinkit.skWave" [debounceDelay]="100" [minDuration]="500">

</ng-http-loader>


<div class="top-container">
  <div class="topnav" [ngClass]="{'open': isMobile}">
    <app-navbar [sidebarCollapsed]="sidebarCollapsed" (toggleSidebar)="sidebarCollapsed = !sidebarCollapsed"></app-navbar>
    <app-sidebar *ngIf="isMobile" [isMobile]="isMobile" [collapsed]="sidebarCollapsed"></app-sidebar>
  </div>
  <div class="body">
    <div class="body-sidenav" [ngClass]="{'body-sidenav-collapsed': sidebarCollapsed}">
      <app-sidebar *ngIf="!isMobile" [collapsed]="sidebarCollapsed"></app-sidebar>
    </div>
    <div class="body-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
