<div class="sidebar">

  <div class="sidebar-mobile-header">
    <div class="sidebar-mobile-header-left">
      <span class="sidebar-mobile-title">TechDevs Gibson Console</span>
    </div>
    <div class="sidebar-mobile-spacer"></div>
    <div class="sidebar-mobile-header-right">
      <i class="fas fa-bars sidebar-mobile-header-icon" (click)="collapsed = !collapsed"></i>
    </div>
  </div>

  <div class="sidebar-menu-container" (click)="toggleCollapsed()">

    <ul class="sidebar-menu" [ngClass]="{'collapsed': collapsed}">
      <li routerLink="/dashboard" routerLinkActive="active">
        <div class="menu-icon">
          <i class="fa fa-15x fa-dashboard"></i>
        </div>
        <span class="menu-label">Dashboard</span>
      </li>
      <li routerLink="/clients" routerLinkActive="active">
        <div class="menu-icon">
          <i class="fas fa-15x fa-users"></i>
        </div>
        <span class="menu-label">Clients</span>
      </li>
      <li class="sidebar-spacer"></li>

      <li routerLink=" /settings " routerLinkActive="active ">
        <div class="menu-icon ">
          <i class="fa fa-15x fa-cog "></i>
        </div>
        <span class="menu-label ">Settings</span>
      </li>
      <li (click)="logout()">
        <div class="menu-icon ">
          <i class="fas fa-sign-out-alt fa-15x "></i>
        </div>
        <span class="menu-label ">Logout</span>
      </li>
    </ul>

    <div class="sidebar-spacer ">

    </div>

  </div>
</div>
