<div class="sidebar">

  <div class="sidebar-picker">
    <span class="sidebar-picker-label">123 Dealership</span>
    <div class="sidebar-icon-container">
      <i class="sidebar-picker-icon fa fa-caret-down fa-15x"></i>
    </div>
  </div>

  <ul class="sidebar-menu">
    <li routerLink="/dashboard" routerLinkActive="active">
      <div class="menu-icon">
        <i class="fa fa-15x fa-dashboard"></i>
      </div>
      <span class="menu-label">Dashboard</span>
    </li>
    <li routerLink="/employees" routerLinkActive="active">
      <div class="menu-icon">
        <i class="fas fa-15x fa-user-tie"></i>
      </div>
      <span class="menu-label">Employees</span>
    </li>
    <li routerLink="/customers" routerLinkActive="active">
      <div class="menu-icon">
        <i class="fa fa-15x fa-users"></i>
      </div>
      <span class="menu-label">Customers</span>
    </li>
    <li routerLink="/offers" routerLinkActive="active">
      <div class="menu-icon">
        <i class="fa fa-15x fa-money"></i>
      </div>
      <span class="menu-label">Offers</span>
    </li>
    <li routerLink="/notifications" routerLinkActive="active">
      <div class="menu-icon">
        <i class="fa fa-15x fa-envelope"></i>
      </div>
      <span class="menu-label">Notifications</span>
    </li>
  </ul>

  <div class="sidebar-spacer ">

  </div>
  <ul class="sidebar-menu">
    <li routerLink="/settings" routerLinkActive="active">
      <div class="menu-icon">
        <i class="fa fa-15x fa-cog"></i>
      </div>
      <span class="menu-label">Settings</span>
    </li>
    <li>
      <div class="menu-icon">
        <i class="fas fa-sign-out-alt fa-15x"></i>
      </div>
      <span class="menu-label">Logout</span>
    </li>
  </ul>

</div>
