<!-- Top Nav Bar -->

<div class="navbar-top">

  <div class="navbar-top-brand">
    <span class="navbar-top-brand-text">TechDevs Dealership Portal</span>
  </div>
  <div class="navbar-toggler" (click)="triggerToggleSidebar()">
    <!-- <i class="fa fa-caret-right toggle-icon"></i> -->
    <i class="fa fa-bars toggle-icon"></i>
  </div>
  <div class="navbar-top-spacer"></div>
  <div class="navbar-top-right">
    <div class="navbar-profile">
      <div class="navbar-profile-image"></div>
    </div>
  </div>

</div>
